li {
    display: inline;
}

header {
    position: fixed;
    top: 0px;
    width: 100vw;
    height: 100px;
    background-color: beige;
}

nav {
    position: relative;
    left: 400px;
    top: 40px;
}
footer {
    position: fixed;
    bottom: 0;
    width: 100vw;
    background-color: beige;
    height: 80px;
}

main {
    padding-top: 100px;
    padding-bottom: 80px;
}

section {
    width: 50%;
    float: left;
    height: 100vh;
}

#copyright {
    position: absolute;
    bottom: 35px;
    right: 35px;
}

#logo {
    height: 100px;
    border-radius: 30px;
}

#account {
    position: absolute;
    top: 0px;
    right: 0px;
    height: 100px;
    width: 100px;
    /* color: brown; */
    background-color: aquamarine;
}

#login { 
    position: absolute;
    top: 40px;
    right: 80px;
    /* color: brown; */
}

@media (max-width: 1200px) {
    #account {
        display: none;
    }
    nav {
        left: 200px;
    }
}

@media (max-width: 840px) {
    nav {
        left: 100px;
    }
    li {
        margin: 20px;
    }
}